.switch-container {
    display: flex;
    align-items: center;
}

.modal-header .btn-close {
    margin: 0 !important;
}

.lessons-list {
    display: flex;
    justify-content: center;
    min-height: 5rem;
}

.tabs-container {
    display: flex;
    justify-content: center;
}